<center><h1>Getting Started with CSV data</h1></center>

In [1]:
#Imports
import pandas as pd 
import numpy as np

<h4>Loading the catalog:</h4>

In [3]:
#Load the catalog 
df_catalog = pd.read_csv('Data/catalog.csv',encoding="ISO-8859-1")

#print the first few catalog items 
df_catalog.head()

,prod_id,prod_name,department_id,price
0,36235,Organic Pure Extra Virgin Coconut Oil,13,12.02
1,24879,Pepperidge FarmÂ® Goldfish Queso Fiesta Baked ...,19,4.17
2,37062,Pineapple Coconut Water Enhancer,7,8.77
3,7770,Quick-Tie Tall Kitchen Bags Gallon - 35 CT,17,3.56
4,14435,Bowl Blaster Toilet Bowl Cleaner,17,5.59

<h4>Loading the transactions:</h4>

In [5]:
#Load the transactions 
df_transactions = pd.read_csv('Data/10000_transactions.csv',encoding="ISO-8859-1")

#Print the first few transactions
df_transactions.head()

,order_number,product_id,customer_id,product_name,department_id,price
0,2,33120,202279,Organic Egg Whites,16,5.33
1,5,48370,156122,Sensitive Toilet Paper,17,9.33
2,7,46802,142903,Pineapple Chunks,1,6.76
3,10,3464,135442,"Organic Butterhead (Boston, Butter, Bibb) Lettuce",4,9.00
4,10,25720,135442,Organic Sunchoke,4,10.06

<h4>Grouping the transactions by customer_id and order_number:</h4>

In [33]:
#Group the transactions by order number 
df_group = df_transactions.set_index(['customer_id','order_number']).groupby(['order_number','customer_id'])

#Viewing the groupby data
df_group.head()

                          product_id  \
customer_id order_number
202279      2                  33120
156122      5                  48370
142903      7                  46802
135442      10                  3464
            10                 25720
143742      11                 27085
152610      12                 15221
            12                 43772
45082       13                 36086
18194       14                  2452
            14                 10096
54901       15                 32463
118860      18                 34969
            18                  1000
            18                  2116
            18                  9848
88772       21                  4149
68572       23                 18689
59897       25                 22105
            25                 39046
            25                 30320
            25                 15925
153404      26                 33120
129389      27                 38226
201744      31                 25647
202527      35                 28413
            35                 24532
39630       43                 20915
            43                 21949
183833      44                 28012
...                              ...
79708       18880              13113
202580      18882                611
            18882              46802
34905       18884              16908
46268       18885              19171
19019       18886              27796
            18886              21206
38187       18887               5450
            18887               6104
39663       18889              33120
163101      18892              38274
77962       18893              23985
143352      18894              26604
70165       18895               5436
            18895              47966
90274       18896              28465
            18896              26604
            18896               1940
            18896              36735
152889      18898              18508
58264       18903               7963
58806       18904              35948
            18904              14744
126574      18906              35907
47606       18908              20034
            18908               5450
            18908              43875
203849      18909              30320
179606      18910              33468
            18910               9781

                                                               product_name  \
customer_id order_number
202279      2                                            Organic Egg Whites
156122      5                                        Sensitive Toilet Paper
142903      7                                              Pineapple Chunks
135442      10            Organic Butterhead (Boston, Butter, Bibb) Lettuce
            10                                             Organic Sunchoke
143742      11                                        Mango Pineapple Salsa
152610      12                                                      2% Milk
            12                              Cherubs Heavenly Salad Tomatoes
45082       13                           Philadelphia Original Cream Cheese
18194       14                                     Naturals Chicken Nuggets
            14                                        Corn Meal Pizza Crust
54901       15                              Olive Oil & Aloe Vera Hand Soap
118860      18                                              Red Vine Tomato
            18                                                     Apricots
            18                            Organic Maple & Onion Baked Beans
            18                      Balsamic Reduction Traditional Balsamic
88772       21                                   Frozen Organic Blueberries
68572       23                                Dairy-Free Chive Cream Cheese
59897       25                           Ultra Thin Sliced Provolone Cheese
            25                                      Smok Cured Turkey Bacon
            25                                 Craveables Four Cheese Pizza
            25                                          Macaroni and Cheese
153404      26                                           Organic Egg Whites
129389      27                                         Dark Chocolate Chips
201744      31                                              Heirloom Tomato
202527      35                                    Bunny-Luv Organic Carrots
            35                               Cranberry Almond Chicken Salad
39630       43            Mozzarella Light Low Moisture Part Skim String...
            43                                White Cheddar Semisoft Cheese
183833      44                                            Clover Honey Bear
...                                                                     ...
79708       18880                                 Organic Apple Juice Boxes
202580      18882                                       Uncured Hard Salami
            18882                                          Pineapple Chunks
34905       18884                              Jacob's Wonderbar Dark Roast
46268       18885             100% Lactose Free Organic 2% Reduced Fat Milk
19019       18886                                           Real Mayonnaise
            18886                               English Breakfast Black Tea
38187       18887                                        Small Hass Avocado
            18887                                   Whole Milk Plain Yogurt
39663       18889                                        Organic Egg Whites
163101      18892                              Ice Cream Sandwiches Vanilla
77962       18893                                             Baby Eggplant
143352      18894                                      Organic Blackberries
70165       18895                                        Diced Green Chiles
            18895                                 Old Fashioned Rolled Oats
90274       18896             Icelandic Style Skyr Blueberry Non-fat Yogurt
            18896                                      Organic Blackberries
            18896                               Organic 2% Reduced Fat Milk
            18896                     Organic Roasted Sliced Chicken Breast
152889      18898                                    Whole Organic Allspice
58264       18903                             Gluten Free Whole Grain Bread
58806       18904                                               Tonic Water
            18904                                       Organic Steak Sauce
126574      18906                                    California Black Bread
47606       18908                                              Potted Basil
            18908                                        Small Hass Avocado
            18908          Baby Food Stage 2 Blueberry Pear & Purple Carrot
203849      18909                              Craveables Four Cheese Pizza
179606      18910                                                White Pita
            18910                          Roasted & Salted Sunflower Seeds

                          department_id  price
customer_id order_number
202279      2                        16   5.33
156122      5                        17   9.33
142903      7                         1   6.76
135442      10                        4   9.00
            10                        4  10.06
143742      11                       20   4.23
152610      12                       16  11.05
            12                        4   1.15
45082       13                       16   2.08
18194       14                        1   1.24
            14                        1  11.52
54901       15                       11   4.26
118860      18                        4   9.25
            18                       10   1.27
            18                       15   2.14
            18                       13  12.26
88772       21                        4  11.59
68572       23                       16  10.12
59897       25                       16   2.41
            25                       12   6.84
            25                        1   8.71
            25                        1   9.50
153404      26                       16   5.33
129389      27                       19   2.18
201744      31                        4   4.30
202527      35                        4   7.30
            35                        3   2.66
39630       43                       16   3.56
            43                       16   9.24
183833      44                       13   8.71
...                                 ...    ...
79708       18880                     7   9.79
202580      18882                    20   7.19
            18882                     1   6.76
34905       18884                     7  11.01
46268       18885                    16   9.21
19019       18886                    13   0.97
            18886                     7   3.44
38187       18887                     4   5.77
            18887                    16   1.76
39663       18889                    16   5.33
163101      18892                     1   7.17
77962       18893                     4   1.55
143352      18894                     4   8.08
70165       18895                    15   4.12
            18895                    14   2.74
90274       18896                    16   8.32
            18896                     4   8.08
            18896                    16   1.23
            18896                    20  10.42
152889      18898                    13   9.12
58264       18903                     1   4.53
58806       18904                     7   7.70
            18904                    13   4.83
126574      18906                     3   5.26
47606       18908                     4   6.24
            18908                     4   5.77
            18908                    18   6.11
203849      18909                     1   8.71
179606      18910                     3   8.87
            18910                    19   5.35

[17725 rows x 4 columns]

<h4>Finding the number of customers:</h4>

In [28]:
#Number of customers 
len(set(df_transactions['customer_id']))

9430

<h4>Finding the most popular items in the transactions:</h4>

In [24]:
#Most popular transactions 
df_transactions['product_name'].value_counts().head()

Limes                   762
Organic Zucchini        546
Organic Blackberries    352
Red Vine Tomato         271
Small Hass Avocado      269
Name: product_name, dtype: int64

<h4>Finding the most popular department id in the transactions:</h4>

In [25]:
#Most popular department 
df_transactions['department_id'].value_counts().head()

4     4881
16    3176
19    1652
1     1465
7     1427
Name: department_id, dtype: int64

<h4>Find the number of transactions that have purchased a particular item:</h4>

In [35]:
#Number of transactions that have purchased Gluten Free Whole Grain Bread
item_name = 'Gluten Free Whole Grain Bread'
df_transactions[df_transactions['product_name'] == item_name].shape[0]

82